<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
			integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
			crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="main.css" />
	<style>
		#add-item-form {
			display: none;
		}

		.gray-bg {
			background-color: #F0F0F0;
			box-shadow: 5px 4px 8px #888888;
		}

		#overlay {
			position: fixed;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			z-index: 2;
			cursor: pointer;
		}

		.more-btn {
			cursor: pointer;
		}
	</style>


</head>
<body onload="sumProfit()">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<form class="form-inline" action="{{ url_for('search') }}" method="POST">
			<input class="form-control mr-sm-2" type="text" name="search" placeholder="Enter Item" aria-label="Search" aria-describedby="basic-addon1">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>
	<div class="container">
		<h1 class="text-center">Margin Calculator</h1>

		<hr />

		<div>
			<h2 class="text-center">
				Total Profit: <span id="profit"></span>
			</h2>
		</div>

		<div>
			<ul class="list-group">
				<table class="table table-striped">
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Buy Price</th>
						<th>Sell Price</th>
						<th>Profit</th>
					</tr>

					{% for todo in incomplete %}
					<tr>
						<td>
							<span class="dropdown">
								{{ todo.text }}
								<button class="btn btn-small btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
									<i class="fa fa-bars more-btn" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ url_for('delete', id=todo.id) }}" class="active" role="menuitem" aria-pressed="true" tabindex="-1" onclick="sumProfit()">Remove</a>
									</li>
									<li>
										<a href="{{ url_for('complete', id=todo.id) }}" class="active" role="menuitem" aria-pressed="true" tabindex="-1" onclick="sumProfit()">Archive</a>
									</li>
								</ul>
							</span>


						</td>
						<td>{{ todo.quantity }}</td>
						<td>{{ todo.buy }}</td>
						<td>{{ todo.sell}}</td>
						<td class="profit"> {{ (todo.sell - todo.buy) * todo.quantity }}</td>
					</tr>
					{% endfor %}
				</table>
			</ul>
		</div>
		<div id="overlay" onclick="hideAddItem()">
			<div class="row h-100">
				<div class="container gray-bg col-xs-12 col-md-6 col-lg-6 my-auto" id="add-item-form">
					<form action="{{ url_for('add') }}" method="POST">
						<br />
						<div class="form-group">
							<label for="item-input">Item</label>
							<input id="item-input" list="items" type="text" name="todoitem" class="form-control col-md-12 col-lg-12 col-xs-12" placeholder="Enter Item" aria-label=""
								   aria-describedby="basic-addon1">
							<datalist id="items">
							</datalist>
						</div>
						<div class="form-group">
							<label for="quantity">Quantity</label>
							<input id="quantity" type="text" data-type="number" name="itemquantity" class="form-control col-md-12 col-lg-12 col-xs-12" placeholder="Number of Items" aria-label=""
								   aria-describedby="basic-addon1">
						</div>
						<div class="form-group">
							<label for="buy-price">Buying Price</label>
							<input id="buy-price" type="text" data-type="number" name="itembuyprice" class="form-control col-md-12 col-lg-12 col-xs-12" placeholder="Buying Price" aria-label=""
								   aria-describedby="basic-addon1">
						</div>
						<div class="form-group">
							<label for="sell-price">Selling Price</label>
							<input id="sell-price" type="text" data-type="number" name="itemsellprice" class="form-control col-md-12 col-lg-12 col-xs-12" placeholder="Selling price" aria-label=""
								   aria-describedby="basic-addon1">
						</div>

						<div class="form-group text-center">
							<button type="submit" value="Add" button class="btn btn-primary" onclick="sumProfit()">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-primary btn-lg" id="add-item" onclick="showAddItem()">Add Item</button>
		</div>

		<h2>Archived Items</h2>
		<ul class="list-group">
			{% for todo in complete %}
			<li class="list-group-item disabled" style="font-size: 30pt">
				{{ todo.text }} <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-danger active" role="button"
					   aria-pressed="true" onclick="sumProfit()">Delete</a>
			</li></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>

<script>
$(document).ready(function(){
	var name;
	$.getJSON("https://www.osrsbox.com/osrsbox-db/items-complete.json", function(result){
        $.each(result, function(i, field){
			$.each(field, function(key, value){
				if (key === "name")
					name = value;
				if (key === "tradeable_on_ge" && value === true)
					$("#items").append("<option value='" + name + "'>");
			});
        });
    });
});
</script>

<script>
function sumProfit() {
	var sum = 0;
	var profit = document.getElementById('profit')
	// iterate through each td based on class and add the values
	$(".profit").each(function() {
		var value = $(this).text();
		// add only if the value is number
		if(!isNaN(value) && value.length != 0) {
			sum += parseFloat(value);
		}
	});
	$("#profit").html(sum.toString());
	return false;
};
</script>



<script>
	function showAddItem() {
		document.getElementById("overlay").style.display = "block";
		document.getElementById("add-item-form").style.display = "block";
	}

	function hideAddItem() {
		document.getElementById("overlay").style.display = "none";
		document.getElementById("add-item-form").style.display = "none";
	}

$( '#add-item-form' ).on( 'click', function( event ) {
    event.stopPropagation();
});
</script>

<script>
	$(document).ready(function(){
    $("input[data-type='number']").keyup(function(event){
      // skip for arrow keys
      if(event.which >= 37 && event.which <= 40){
          event.preventDefault();
      }
      var $this = $(this);
      var num = $this.val().replace(/,/gi, "");
      var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
      console.log(num2);
      // the following line has been simplified. Revision history contains original.
      $this.val(num2);
  });
});
</script>
